// named colors
$c-black: #525252;
$c-gray: #B1B0AB;
$c-beige: #FAF9F4;
$c-red: #E2927F;
$c-yellow: #F9CF6C;
$c-blue: #6DB9D1;
$c-green: #85BCB1;
$c-black-alpha: rgba(0, 0, 0, 0.4);

// functional colors
$c-active: $c-blue;
$c-shadow: rgba(0, 0, 0, 0.10);

// font-weights
$fw-light: 200;
$fw-normal: 400;
$fw-bold: 600;

// lengths
$l-input-border-radius: 4px;
