<div class="l--page-wrapper">

  <div class="link-item-list l--clear">

    <div class="link-item yt">


      <div class="link-item--title">
        {{#link-to 'templates.link'}}
          Paul Rudd's Computer
        {{/link-to}}
      </div>

      <div class="link-item--subtle link-item--margin-text tl">
        {{#link-to 'templates.link'}}
          <img src="http://s.ytimg.com/yts/img/favicon-vfldLzJxy.ico" width="16" height="16" class="link-item--favicon">
          youtube.com
        {{/link-to}}
      </div>

      <div class="link-item--subtle link-item--margin-text bl">
        from: ethanbmuller@gmail.com
      </div>

      <div class="tx--subtle link-item--margin-text tr">
        3/4/14
      </div>

      <div class="link-item--right-chunk">
        <div class="link-item--right-chunk--item">
          {{#link-to 'templates.link'}}
            7 (_)
          {{/link-to}}
        </div>

        <div class="link-item--right-chunk--item">
          {{#link-to 'templates.link'}}
            3 (_)
          {{/link-to}}
        </div>
      </div>

    </div>


  </div>

</div>
