<div class="l--page-wrapper l--margin">

  <div class="l--space_half l--clear">
    <p class="marketingy-heading">
    Share links with your friends on Plates.
    </p>
  </div>

  <div class="l--space">
    <div class="plate-hero plate-image">
      {{partial 'templates/_plate-image'}}
    </div>

    <div class="plate-hero--title" style="color: #E2927F;">
      Raspberry Strawberry Plate
    </div>
  </div>

  <form>

    <div class="l--space">
      <label>
        <span class="form-label">What's an alright link you would like to share with your friend(s)?</span>
        <input type="text" class="text-input" placeholder="http://www.youtube.com/watch?v=0Bmhjf0rKe8" />
      </label>
    </div>

    <div class="l--space">
      <label>
        <span class="form-label">Who do you want to share with?</span>
        <input type="text" class="text-input" placeholder="tinychef@email.com" />
      </label>

      <label class="add-control">
        <button class="add-control--button">+</button>
        Add another email
      </label>
    </div>

    <div class="l--space">
      <button class="btn btn_standard btn_inline">
        <img src="/img/icon-persona.svg" class="icon-persona" />
        Sign In with Email
      </button>
    </div>

  </form>

</div>
