<div class="l--page-wrapper l--margin">

  <div class="l--space_half clearfix">
    <a href="#" class="l--space btn btn_positive btn_small">Newer Link &uarr;</a>

    <div class="l--left">
      {{#link-to 'templates.plate' class='btn btn_standard btn_small btn_inline'}}
      &larr; Back to plate
      {{/link-to}}
    </div>
  </div>

</div>

<article>

  <div class="l--page-wrapper l--margin l--space">
    <div class="l--space_half l--clear">
      <h1 class="heading">
        <img class="l--media" src="http://s.ytimg.com/yts/img/favicon-vfldLzJxy.ico" />
        Paul Rudd's Computer
      </h1>
    </div>


    {{!--embedly media.html--}}
    <div class="link-detail--media">
      <iframe class="embedly-embed" src="//cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fwww.youtube.com%2Fembed%2FXWX4GUYGQXQ%3Ffeature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DXWX4GUYGQXQ&image=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FXWX4GUYGQXQ%2Fhqdefault.jpg&key=internal&type=text%2Fhtml&schema=youtube" width="500" height="281" scrolling="no" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="l--right">
      <a class="tx--link" href="http://www.youtube.com/watch?v=XWX4GUYGQXQ">View Original</a>
    </div>

    <div class="l--space_half">
      (_) Seen by 3 people
    </div>

    <div class="link-detail--description">
      Funny clip from tim and eric.
    </div>
  </div>

  <div class="l--space">
    <div class="l--page-wrapper l--margin">

      <div class="l--space_half l--contain">
        <img class="fixed-media avatar" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y&s=40" />
        <div class="fixed-media-neighbor">
          <div class="tx--subtle tx--little">coold00d@gmail.com</div>
          <p>Hahaha, the hat wobble gets me every time.</p>
        </div>
      </div>

      <div class="l--space_half l--contain">
        <img class="fixed-media avatar" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y&s=40" />
        <div class="fixed-media-neighbor">
          <div class="tx--subtle tx--little">mister_pants@gmail.com</div>
          <p>Can I get a print out of Oyster smiling? lol</p>
        </div>
      </div>

      <div class="l--space_half l--contain tx--right">
        <img class="fixed-media avatar flip" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y&s=40" />
        <div class="fixed-media-neighbor flip">
          <div class="tx--subtle tx--little">You</div>
          <p>Tayne is my spirit animal.</p>
        </div>
      </div>

      <div class="l--space_half l--contain">
        <img class="fixed-media avatar" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y&s=40" />
        <div class="fixed-media-neighbor">
          <div class="tx--subtle tx--little">mom@juno.com</div>
          <p>I dont get it</p>
        </div>
      </div>

    </div>
  </div>

  <div class="l--space l--page-wrapper l--margin">
    <label class="l--space">
      <span class="form-label little">Have something clever to say?</span>
      <input type="text" class="text-input" />
    </label>

    <button class="l--right l--space btn btn_standard btn_inline btn_small">
      Comment
    </button>

    <div class="l--space_half l--clear">
      <a href="#" class="btn btn_positive btn_small">Older Link &darr;</a>
    </div>

  </div>

</article>

