<div class="l--page-wrapper l--margin">
  <div class="tx--center">
    <h1 class="marketingy-heading l--space_half">Sign In to see what's inside.</h1>

    <img src="/img/lidded-plate.svg" alt="Lidded plate" class="lidded-plate" />

    <a href="#" class="btn btn_standard btn_inline" {{action signInOrSend}}>
      <img src="/img/icon-persona.svg" class="icon-persona" />
      Sign In with Email
    </a>
  </div>
</div>
