<div class="l--page-wrapper">
  <footer class="main-footer l--clear">

  <div class="l--left">
    <p>
      Fresh from the oven of <a class="tx--link" href="http://twitter.com/tnychf">tinychef.</a>
    </p>
  </div>

  </footer>
</div>
